.chart{
  min-height: 638px;
}

.recharts-legend-wrapper{
  left: -25% !important;
  bottom: -35px !important;
}

.recharts-legend-item{
  font-size: 12px;
}

.recharts-legend-item:first-child{
  margin-right: 20px !important;
}

.recharts-legend-item .recharts-surface{
  width: 20px;
  height: 20px;
}

.chart__label_top{
  margin-bottom: 20px;
}

.chart__label_bottom{
  position: absolute;
  right: 28px;
  bottom: 100px;
  max-width: 80px;
}

.custom-tooltip{
  display: block;
  background-color: #fff;
  padding: 12px 12px 0;
  border: 1px solid #1a455b;
}

.recharts-wrapper .recharts-layer.recharts-bar{
  cursor: pointer;
}

