.wallet > * {
  line-height: 1.1;
}

.wallet__title{
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}

.wallet__currencies{
  font-size: 12px;
  color: #ef7d2f;
}

.wallet__balance-container{
  display: flex;
  align-items: baseline;
}

.wallet__token-ballance{
  margin-right: 30px;
}
.wallet__currency{
  display: inline-block;
}

.wallet__currency:not(:last-child){
  position: relative;
  margin-right: 60px
}
.wallet__currency:not(:last-child):after{
  content: "";
  display: block;
  width: 1px;
  height: 11px;
  opacity: 0.2;
  border: solid 1px #4e5574;
  position: absolute;
  right: -30px;
  top: 2px;
}