.ant-modal.modal.modal_blockchain-provider{
  width: 99vw !important;
}

/*.ant-modal.modal.modal_blockchain-provider.modal_success .ant-modal-content .ant-modal-close .ant-modal-close-x .anticon.anticon-close.ant-modal-close-icon,*/
/*.ant-modal.modal.modal_blockchain-provider.modal_success .ant-modal-content .ant-modal-close .ant-modal-close-x .anticon.anticon-close.ant-modal-close-icon > svg{*/
  /*border-color: #52c41a;*/
  /*color: #52c41a;*/
/*}*/