@import "~antd/dist/antd.css";
@import "../fonts/Pxgrotesk/PxGroteskRegular-Regular.css";

* {
  font-family: "PxGroteskRegular" !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5em;
  background-color: #eeeeee;
  color: #3c4858;
  margin: 0;
}

.ant-menu-inline .ant-menu-item {
  font-size: 16px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #0074a6;
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon,
.ant-menu-inline .ant-menu-submenu-title {
  font-size: 16px;
}

.ant-menu-dark,
.ant-layout-sider,
.ant-tooltip-inner {
  background-color: #1a455b;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow {
  border-bottom-color: #1a455b;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item > a {
  color: rgba(255, 255, 255, 1);
}

.ant-layout-sider-trigger {
  display: none;
}

.ant-layout-content {
  padding: 40px 30px;
}

.ant-layout-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  /*line-height: 68px;*/
  padding: 0 30px;
}

.text_row {
  margin-bottom: 10px;
}

.card_row, .ant-form-item.card_row {
  margin-bottom: 20px;
}

.container_row {
  margin-bottom: 40px;
}

.ant-input-group-addon:first-child {
  min-width: 130px;
  font-size: 0.9em;
}

.ant-input_with-manage-input{
  border-right: none
}

.ant-input_with-manage-input + .ant-input-group-addon{
  padding: 0;
  border: none;
  background: transparent;
}

a {
  color: #1a455b;
}

a:hover,
.ant-btn-primary:hover {
  color: #fff;
}

.ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
}

.register_message {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.register_message > a {
  color: #1890ff;
}

.layout_blocked > * {
  z-index: 10000000000;
  opacity: 0.1;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub,
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background-color: transparent;
}

.step_title {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
}

.ant-upload.ant-upload-select-picture-card {
  width: 112px;
  height: 112px;
  margin-bottom: 14px;
}

.ant-btn.ant-btn-primary.christmas:before {
  display: none !important;
}

.disclaimer {
  max-height: 60vh;
  overflow-y: scroll;
}

.consent {
  padding-top: 60px;
}

.card_verified > .ant-card-body {
  position: relative;
  opacity: 0.5;
}

.ant-upload-list-picture-card .ant-upload-list-item {
  width: 112px;
  height: 112px;
  margin-bottom: 14px;
}

.ant-upload-list-item-info > span {
  height: 100%;
}

/*.ant-upload-list-picture-card .ant-upload-list-item-actions{*/
/*display: none;*/
/*}*/

.ant-upload-list-picture-card .ant-upload-list-item-thumbnail,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
  height: auto;
}

.ant-upload-list-picture-card .ant-upload-list-item-actions .anticon-eye-o {
  display: none;
}

.link {
  cursor: pointer;
}

.ant-table-wrapper.table_expanded .ant-table-tbody {
  font-size: 12px;
}

.ant-table-thead tr > th{
  background-color: #f7f7f7;
}

.ant-table-tbody tr > td {
  background-color: #fff;
}

.ant-calendar-footer {
  display: none;
}

.table_small .ant-form-itemant-table-tbody {
  font-size: 12px;
}

.ant-form-item{
  margin-bottom: 0;
}

#connection {
  width: calc(100% - 130px);
  margin-left: 130px;
  position: relative;
}

#connection:before,
#connection:before {
  content: "";
  display: flex;
  position: absolute;
  width: 130px;
  height: 32px;
  font-size: 0.9em;
  top: 0;
  left: -130px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  background-color: #fafafa;
  font-family: "PxGroteskRegular";
}

#birth_date {
  width: 100%;
}

#connection:before {
  content: "Connection";
}

/*.ant-calendar-picker-input {*/
  /*border-top-left-radius: 0;*/
  /*border-bottom-left-radius: 0;*/
/*}*/

#connection .ant-select-selection {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button_addSubownerDataCollection {
  margin-bottom: 4px;
}

.ant-btn.button_secondary{
  background-color: #ef7d2f;
  color: #fff;
  border-color: #ef7d2f;
}

/*.ant-btn.button_green{*/
  /*background-color: #00c7b3;*/
  /*color: #fff;*/
  /*border-color: #00c7b3;*/
/*}*/

.card_stats_skeleton {
  max-height: 125px;
  overflow: hidden;
  padding: 3px 10px;
}

.card_stats_skeleton .ant-card-body {
  padding: 0px 15px;
}

.card_allowance_skeleton {
  min-height: 276px;
  min-width: 315px;
  overflow: hidden;
  padding: 3px 10px;
}

.auth_view {
  padding-top: 40px;
}

.main_title {
  display: flex;
  justify-content: center;
  font-size: 1.7em;
  margin-bottom: 40px;
}

.auth_view .ant-card {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.forgot_password_button {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.metamask_not_logged_in {
  position: relative;
  opacity: 0.5;
}

.ant-tabs .ant-tabs-top-content.ant-tabs-content-animated,
.ant-tabs .ant-tabs-bottom-content.ant-tabs-content-animated {
  min-height: 178px;
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 0;
}

.ant-tabs-nav .ant-tabs-tab > span {
  display: block;
  padding: 12px 16px;
}

.ant-upload-list-picture .ant-upload-list-item-error,
.ant-upload-list-picture-card .ant-upload-list-item-error {
  border-color: #1a455b;
}

.phone_input_group {
  display: flex;
}

.ant-input {
  font-family: "PxGroteskRegular";
}

.ant-input_prefix {
  position: absolute;
  left: 166px;
  top: 6px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}

.ant-input.ant-input_phone,
.ant-input.ant-input_phone:focus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  border-color: #d9d9d9;
  box-shadow: none;
}

.countries-select-prefix .ant-select-selection,
.countries-select-prefix .ant-select-selection:focus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  border-color: #d9d9d9;
}

.ant-input.ant-input_phone.ant-input_phone_success,
.ant-input.ant-input_phone.ant-input_phone_success:focus,
.countries-select-prefix.ant-input_phone_success .ant-select-selection,
.countries-select-prefix.ant-input_phone_success .ant-select-selection:focus {
  border-color: #52c41a;
}

.ant-input.ant-input_phone.ant-input_phone_failed,
.ant-input.ant-input_phone.ant-input_phone_failed:focus,
.countries-select-prefix.ant-input_phone_failed .ant-select-selection,
.countries-select-prefix.ant-input_phone_failed .ant-select-selection:focus {
  border-color: red;
}

.flex-row {
  display: flex;
  align-items: center;
}

.ant-table-thead {
  font-size: 0.9em;
}

.ant-card-body .card_description {
  word-break: break-word;
}

.responsive_row {
  margin-bottom: 0;
}

.responsive_tier_step {
}

.card_row.has-error {
  color: #f5222d;
}

.has-error .ant-form-explain, .has-error .ant-form-split{
  /*position: absolute;*/
  font-size: 12px;
}

.ant-form-item-label{
  line-height: 25px;
}

@media screen and (max-width: 1400px) {
  .responsive_row {
    margin-bottom: 40px;
  }

  .responsive_row.ant-col-xl-8 {
    width: 100%;
  }

  .responsive_tier_step {
    margin-left: 0;
    padding-left: 24px !important;
    padding-right: 24px !important;
    width: 100%;
  }
}

.logo_divider + .ant-menu-item{
  margin-top: 0 !important;
}

.ant-steps-item-finish .ant-steps-item-content > .ant-steps-item-title{
  color: #52c41a;
}

.ant-steps-item-finish .ant-steps-item-icon{
  border-color: #52c41a;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
  color: #52c41a;
}

.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after {
  background-color: #52c41a;
}

.data-widget_blocked .ant-card > .ant-card-body{
  opacity: 0.2;
  position: relative;
  z-index: 0;
}

.data-widget_blocked .ant-btn.setup-provider{
  position: absolute;
  top: 50%;
  left: calc(50% - 100px);
  z-index: 1000;
}

.data-widget_blocked .kyc-error-message{
  position: absolute;
  top: 32%;
  left: calc(50% - 100px);
  z-index: 1000;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  cursor: pointer;
  color: #ef7d2f;
}

.data-widget_blocked .ant-btn.setup-provider.setup-provider_middle{
  left: calc(50% - 60px);
}

.table_selectable .ant-table .ant-table-content .ant-table-body .ant-table-row{
  cursor: pointer;
}

.ant-table-row.ant-table-row_selected{
  background-color: #1890ff;
}

/*.data-widget_blocked .ant-card-body:after{*/
  /*content: "";*/
  /*position: absolute;*/
  /*display: block;*/
  /*width: 100%;*/
  /*z-index: 1000;*/
/*}*/

.ant-btn-circle.ant-btn-sm, .ant-btn-circle-outline.ant-btn-sm{
  width: 27px;
}

.ant-modal{
  top: 35vh;
}

.ant-modal-content{
  border-radius: 10px;
}

.modal .ant-modal-content > .ant-modal-body{
  padding: 50px 40px;
}

.ant-modal-close{
  right: -7px;
  top: -6px;
}

.ant-modal-close .ant-modal-close-x{
  font-size: 12px;
}

.ant-modal-close .ant-modal-close-x .anticon.anticon-close.ant-modal-close-icon{
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #0074a6;
}

.ant-modal-close .ant-modal-close-x .anticon.anticon-close.ant-modal-close-icon > svg{
  color:  #0074a6;
}

.ant-modal-close .ant-modal-close-x .anticon.anticon-close.ant-modal-close-icon:hover{
  border: 1px solid #f5222d;
}

.ant-modal-close .ant-modal-close-x .anticon.anticon-close.ant-modal-close-icon:hover > svg{
  color: #f5222d;
}

.ant-tabs_centered .ant-tabs-nav-wrap{
  display: flex;
  justify-content: center;
}

.ant-tabs-nav .ant-tabs-tab{
  font-size: 16px;
  padding-bottom: 15px;
}

.ant-tabs-bar{
  margin-bottom: 26px;
}

.ant-form-item-label label:after,.ant-form-item-label label:before {
  content: none;
}


/*todo there is no need in new version*/
.ant-table-filter-dropdown-link{
  position: relative;
}

.ant-table-thead > tr > th .anticon-filter, .ant-table-thead > tr > th .ant-table-filter-icon{
  color: #000;
}

.ant-table__account{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
  word-break: initial;
  cursor: pointer;
  white-space: nowrap;
}

.ant-table__tooltip .ant-tooltip-inner{
  width: 350px;
  text-align: center;
}

.ant-table__tooltip .ant-tooltip-inner > *{
 color: #fff !important;
}

.ant-table__tooltip.ant-table__tooltip_tx .ant-tooltip-inner {
  width: 550px;
}

.ant-table__tooltip.ant-table__tooltip_tx .ant-tooltip-content .ant-tooltip-arrow {
  right: -205px !important;
}

.ant-table__link, .ant-table__link:hover {
  color: #40a9ff;
  cursor: pointer;
}

.ant-table__status_active{
  color: #52c41a;
}

.ant-table__status_cancelled{
  color: #f5222d;
}

.ant-table__status_cancel{
  color: #40a9ff;
}

.ant-table__status_setup{
  color: #ef7d2f;
}

.ant-table__status_completed{
  color: #3e4857;
}

.ant-table-wrapper.table_expanded .ant-table-tbody tr > td,
.ant-table-wrapper.table_expanded .ant-table-content .ant-table-placeholder,
.ant-table-wrapper.table_expanded .ant-table-thead tr > th
{
  background-color: #eeeded;
  border-bottom-color: rgba(0, 0, 0, 0.09);
}

.tables-container .ant-tabs .ant-tabs-top-content.ant-tabs-content-animated, .ant-tabs .ant-tabs-bottom-content.ant-tabs-content-animated{
  min-height: 0;
}

.provider__link:hover{
  color: #0074a6;
}