.steps-navigation {
  min-width: 420px;
}

.steps-navigation__item_confirmed,
.steps-navigation__item_confirmed:hover,
.confirmed {
  color: #52c41a;
  cursor: default;
}

.ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item.steps-navigation__item_confirmed.ant-menu-item-selected {
  background-color: transparent;
}

.steps-navigation__item_confirmed.ant-menu-item-selected.ant-menu-item:after{
  content: none;
}

.steps-navigation__item_locked,
.steps-navigation__item_locked:hover {
  color: #565855;
}

.steps-navigation__item_opened,
.steps-navigation__item_opened:hover {
  color: #3346c4;
}
