.manageInput{
  width: 22px;
  height: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  position: relative;
}



.manageInput__control{
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.2px 0;
  cursor: pointer;
}

.manageInput.disabled .manageInput__control{
  cursor: default;
}


.manageInput__control:first-child{
  border-bottom: solid 1px #d9d9d9;
}

.has-error .ant-form-item-children .manageInput__control:first-child,
.has-error .ant-form-item-children .manageInput{
  border-color: #f5222d !important;
}


.manageInput__currency{
  position: absolute;
  top: 5px;
  right: 30px;
  opacity: 0.5;
  font-size: 16px;
  color: #3e4857;
  z-index: 100;
}