.tables-container{

}

.tables-container__title{
  font-size: 20px;
  margin-bottom: 16px;
}

.tables-container__manage{
  margin-top: 0;
  font-size: 14px;
  color: #1583e8;
}

.tables-container__manage_full{
  margin-top: -10px;
  margin-bottom: 14px;
}

.tables-container__link > a{
  color: #1583e8 !important;
}

.tables-container__update{
  cursor: pointer;
}

.tables-container__update .anticon{
  margin-right: 10px;
}

.tables-container__filter{
  color: rgba(0, 0, 0, 0.85);
}