.create-proposal{
  width: 200px;
}

.create-proposal .ant-card-body{
  padding: 20px 30px;
}

.create-proposal .ant-form-item-label{
  line-height: 1;
  margin-bottom: 5px;
}

.create-proposal__content{
  font-size: 12px;
}

.create-proposal__title:not(:last-child){
  margin-bottom: 12px;
}

.create-proposal__info{
  font-size: 14px;
}